<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Nota de entrega</title>
        <style>
            .separator {
                display: flex;
                align-items: center;
                text-align: center;
                margin-top: 20px;
            }
            .separator::before, .separator::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #000;
            }
            .separator::before {
                margin-right: .25em;
            }
            .separator::after {
                margin-left: .25em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">

                <div class="col-xs-7 align-middle "><h3>Numero de nota de entrega:{{orden.id}}</h3></div>
                <div class="col-xs-5 align-middle " style="max-height:50px"><img src="{% static 'logo.png' %}"> </div>

            </div>
            <br>
            <div class="row">
                <div class="col-xs-4"><small>Cliente:</small><br><u>{{orden.cliente.nombre}}</u></div>
                <div class="col-xs-4"><small>Modelo del vehiculo:</small><br><u>{{orden.modelovehiculo.descripcion}}</u></div>
                <div class="col-xs-4"><small>Marca del vehiculo:</small><br><u>{{orden.marcavehiculo.descripcion}}</u></div>
            </div>

            <div class="row">
                <div class="col-xs-4"><small>Año del vehiculo:</small><br><u>{{orden.añovehiculo}}</u></div>
                <div class="col-xs-4"><small>Placa:</small><br><u>{{orden.placa}}</u></div>
                <div class="col-xs-4"><small>Kilometraje:</small><br><u>{{orden.kilometraje}}</u></div>
            </div>

            <div class="row">
                <div class="col-xs-4"><small>Fecha de la orden:</small><br><u>{{orden.fecha }}</u></div>
                <div class="col-xs-4"><small>Precio de mano de obra:</small><br><u>{{orden.precio_manodeobra }}</u></div>
            </div>

            <div class="separator">Detalle de la nota de entrega</div>

            <div class="row">
                    <div class="col-xs-12">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio venta</th>
                                <th>Precio total por producto</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for detalles in detalle %}
                                    <tr>
                                        <td>{{detalles.producto.descripcion}}</td>
                                        <td>{{detalles.cantidad_producto}}</td>
                                        <td>{{detalles.precio_venta}}</td>
                                        <td>{{detalles.multi}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                          <div class="row">
                            <div class="col-xs-8"><h3>Total a pagar: {{total}}$ </h3></div>
                        </div>
                        </div>
            </div>
        </div>
    </body>
</html>
